{% extends "templates/bootstrap.html" %}
{% set active_page = "assets" %}

{% block title %}Business Assets Platform{% endblock %}


{% block header %}
    <h1>Assets</h1>
    <p>Create a new asset</p>
{% endblock %}

{% block content %}

<div class="container">
    <style>
        {%include 'snippits/_colors.css'%}
    </style>

    <form class="form-horizontal" role="form" action="/assets" method="post">

        <fieldset class="form-group {{'has-error' if form.name.errors}}">
            {{ form.name.label(class='col-sm-5 control-label', for='name')}}
            <div class="col-sm-3">
                {{ form.name(class="form-control", placeholder="Joe Blogs")}}
                {% for error in form.name.errors %}<div>{{ error }}</div>{% endfor %}
            </div>
        </fieldset>
        <fieldset class="form-group  {{'has-error' if form.email_address.errors}}">
            {{ form.email_address.label(class='col-sm-5 control-label', for='name')}}
            <div class="col-sm-3">
                {{ form.email_address(class="form-control", placeholder="joe@example.co.nz")}}
                {% for error in form.email_address.errors %}<div>{{ error }}</div>{% endfor %}
            </div>

        </fieldset>
        <fieldset class="form-group  {{'has-error' if form.phone_number.errors}}">
            {{ form.phone_number.label(class='col-sm-5 control-label', for='name')}}
            <div class="col-sm-3">
                {{ form.phone_number(class="form-control", placeholder="021 555 5555")}}
                {% for error in form.phone_number.errors %}<div>{{ error }}</div>{% endfor %}
            </div>

        </fieldset>
        <fieldset class="form-group  {{'has-error' if form.description.errors}}">
            {{ form.description.label(class='col-sm-5 control-label', for='name')}}
            <div class="col-sm-3">
                {{ form.description(class="form-control", placeholder="Describe the asset", cols=30, rows=15)}}
                {% for error in form.description.errors %}<div>{{ error }}</div>{% endfor %}
            </div>

        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" class="btn btn-primary btn-block btn-lg">Add asset</button>
            </div>
        </div>
    </form>


</div> <!-- /container -->

{% endblock %}